@import url('https://fonts.googleapis.com/css2? family= Roboto+Slab:wght@100;200;300;400;500;600;700;800;900 & display=swap' );
*{
    font-family: 'Gruppo', sans-serif;
    
}

body {
    background-image:url("./img/profil1.jpg"); 
    background-size: cover;
}
.container {
    background-color: rgb(7, 7, 7);
    display: flex;
    max-width: 350px;
    text-align: justify;
    font-weight: bold;
    color: rgb(184, 178, 178);
    align-items: center;
    line-height: 1;
    flex: 1;
    margin:auto;
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;
    padding: 25px; /* espace entre la bordure et le texte */
    border-radius: 5px; /* arrondi des coins de la bordure */
    box-shadow: 0 0 5px #4a403e; /* ombre portée */
    margin-bottom: 12%;
}

.container .button{
    padding-top: 20%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;

}